@model IEnumerable<PlottedAssist.Models.UserPlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-8 col-md-offset-2">


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        s
        <h2>My Garden</h2>

        <p>
            @Html.ActionLink("Look through the plant list to find a plant", "../PlantSets/PlantList")
        </p>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Today</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    Nickname<br>
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    Nickname
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tomorrow</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    Nickname
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @foreach (var item in Model)
            {

                <div class="col-xs-12" style="padding:20px;border:thin">

                    @Html.DisplayFor(modelItem => item.plantNickName)
                    <br>
                    @Html.DisplayFor(modelItem => item.PlantSet.PlantCommonName)
                    <br>
                    @Html.DisplayFor(modelItem => item.PlantSet.PlantSciName)
                    <br>


                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    @Html.DisplayFor(modelItem => item.PlantWaterFrq)
                    <br>
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    @Html.DisplayFor(modelItem => item.PlantPruningFrq)
                    <br>
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    @Html.DisplayFor(modelItem => item.PlantFertilizerFrq)
                    <br>
                    <img src="~/Picture/SunNeed/1.jpg" height="30">
                    @Html.DisplayFor(modelItem => item.PlantMistFrq)


                    <br><a href="@Url.Content("../PlantSets/Details/"+ item.PlantSet.Id)" class="btn btn-primary btn-lg">Info</a>
                    <br><a href="@Url.Content("~/Dashboard/Edit/"+ item.Id)" class="btn btn-primary btn-lg"> Setting</a>
                    <br><a href="@Url.Content("~/Dashboard/Delete/"+ item.Id)" class="btn btn-primary btn-lg"> Remove</a>
                </div>

            }
        </div>
    </div>