@model IEnumerable<PlottedAssist.Models.WeedSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}


    <div class="row" style="background-color:#4F6657;">

        
        <!--Header-->

        <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture4.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
            <div>
                <img src="~/Picture/Banner/InvTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
            </div>
        </div>

        <!--Filter-->
        @using (Ajax.BeginForm("GetPlantData", ajaxOpts))
        {
    <div style="text-align:center;">
        
        <div class="btn-group-lg col-12 col-sm-6 col-md-12 col-lg-12" role="group" aria-label="Flower color">
            <h1 class="white-word" style="text-align:center;font-family:'Arial';margin-top:10px;">Have You Ever Seen These Plant in Your Garden?</h1>
            <h4 class="white-word">Flower color</h4>

            @Ajax.ActionLink("White", "WeedFilter", new { selected = "White" },
            new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-success", @type = "button" })

            @Ajax.ActionLink("Yellow", "WeedFilter", new { selected = "Yellow" },
            new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-success", @type = "button" })

            @Ajax.ActionLink("Purple", "WeedFilter", new { selected = "Purple" },
            new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-success", @type = "button" })

            @Ajax.ActionLink("No flower", "WeedFilter", new { selected = "No" },
            new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-success", @type = "button" })

            @Ajax.ActionLink("All", "WeedFilter", new { selected = "All" },
            new AjaxOptions { UpdateTargetId = "tableBody" }, new { @class = "btn btn-success", @type = "button" })

        </div>

    </div>
        }

        @foreach (var item in Model)
        {
            <!--Weed display-->

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-lg-offset-1" style="margin-bottom:5%">
                <div class="card" style="padding:15px;width:200px;margin-top:20px;border-radius:15px;">
                    <a href="@Url.Content("~/WeedSets/Details/"+ item.Id)" class="thumbnail" style="border-radius:15px;box-shadow:2px 2px 6px 2px #1E2621;padding:0px;">
                        <img src="@Url.Content("~/Picture/Weed/"+item.WeedPhotoPath)" alt="Show detail" style="border-radius:15px;box-shadow:0px 0px 8px 5px #1E2621;">
                    </a>
                </div>
            </div>
        }
    </div>