@model PlottedAssist.Models.PlantSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!--Header-->

    <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
        <div>
            <img src="~/Picture/Banner/IndTitleWeb.png" style="width: 35%; margin-top: 15%; margin-left: 33%">
        </div>
    </div>

    <!--Plant information and picture-->

    <div class="col-sm-3" style="color:black;font-family:'Arial';font-size:16PX;padding-left:20%;margin-top:5%">
        <a class="btn btn-success" name="Submit" onclick="javascript:history.back(1)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
    </div>

    <div class="col-sm-6" style="margin-top:5%; margin-bottom:75px;">
        <img class="col-xs-6 col-lg-6 col-lg-offset-3 col-xs-offset-3" style="box-shadow:0px 0px 8px 5px #1E2621;padding:0px;margin-bottom:20px" src="@Url.Content("~/Picture/PlantSet/"+Model.PlantPhotoPath)">
        <!--Add plant button-->
        <div class="col-xs-8 col-lg-8 col-lg-offset-2 col-xs-offset-2" style="text-align: center; font-family: 'Arial';margin-top:5%;margin-bottom:5%">
            <a href="@Url.Content("~/Dashboard/Create/" + Model.Id)" class="btn btn-default" style="background: #344239; color:white; text-align: center;border-radius:15px;box-shadow:2px 2px 6px 2px #1E2621;border:0px;">Add to my garden</a>
        </div>

        <dl class="col-xs-12 col-lg-12 dl-horizontal white-word">
            <dt>
                Common Name
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.PlantCommonName)</p>
            </dd>

            <dt>
                Scientific Name
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantSciName)</P>
            </dd>

            <dt>
                Type
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantType)</P>
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantDesc)</P>
            </dd>

            <dt>
                Planting Season
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSpring == "1")
                    {<text>Spring</text>}
                    @if (Model.PlantSummer == "1")
                    {<text>Summer</text>}
                    @if (Model.PlantAutumn == "1")
                    {<text>Autumn</text>}
                    @if (Model.PlantWinter == "1")
                    {<text>Winter</text>}
                </P>
            </dd>

            <dt>
                Flower Color
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantFlowerColors)</P>
            </dd>

            <dt>
                Sun requirements
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSunNeedPath == "1")
                    {<text>Full Sun</text>}
                    @if (Model.PlantSunNeedPath == "2")
                    {<text>Full Shade</text>}
                    @if (Model.PlantSunNeedPath == "3")
                    {<text>Partial Sun/Partial Shade</text>}
                </P>
            </dd>

            <dt>
                Water Frequency
            </dt>

            <dd>
                <P>Every @Html.DisplayFor(model => model.PlantWaterFrq) Days</P>
            </dd>

            <dt>
                Purning Frequency
            </dt>

            <dd>
                <P>Every @Html.DisplayFor(model => model.PlantPruningFrq) Days</P>
            </dd>

            <dt>
                Fertilizer Frequency
            </dt>

            <dd>
                <P>Every @Html.DisplayFor(model => model.PlantFertilizerFrq) Days</P>
            </dd>

            <dt>
                Mist Frequency
            </dt>

            <dd>
                <P>Every @Html.DisplayFor(model => model.PlantMistFrq) Days</P>
            </dd>

            <dt>
                Soil Type
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSoilSand == "1")
                    {<text>Sand</text>}
                    @if (Model.PlantSoilClay == "1")
                    {<text>Clay</text>}
                    @if (Model.PlantSoilLoom == "1")
                    {<text>Loom</text>}
                </P>
            </dd>

            <dt>
                Provide Habit to Plants
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantHabitat)</P>
            </dd>

            <dt>
                Drought Telorant
            </dt>

            <dd>
                <P>
                    @if (Model.PlantDroughtTol == "1")
                    {<text>Yes</text>}
                else
                {<text>No</text>}
                </P>
            </dd>

            <dt>
                Companion Plants
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantCompanion)</P>
            </dd>

            <dt>
                Attract Animals
            </dt>

            <dd>

                @if (Model.PlantBees == "1")
                {<img src="~/Picture/Animal_icon/Bee.png" height="40">}
                @if (Model.PlantButterfly == "1")
                {<img src="~/Picture/Animal_icon/butterfly.png" height="40">}
                @if (Model.PlantBird == "1")
                {<img src="~/Picture/Animal_icon/Bird.png" height="40">}
                @if (Model.PlantInsects == "1")
                {<img src="~/Picture/Animal_icon/Insect.png" height="30">}
                @if (Model.PlantLarve == "1")
                {<img src="~/Picture/Animal_icon/Larve.png" height="30">}

            </dd>
            <dt>
                Where to buy
            </dt>

            <dd>
                <P><a href="@Url.Content("~/PlantInfo/Nurseries/")" style="color:#FDB298;text-decoration:underline">Nearest nurseries</a></P>
            </dd>
        </dl>
    </div>

