@model PlottedAssist.Models.PlantSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:#4F6657">

    <!--Header-->

    <div class="col-12 col-md-8" style="background-image:url(../../Picture/header_picture.jpg);width:100%;height:400px;position:relative;">
        <div class="col-12 col-md-12" style="position:absolute;text-align:center;height:auto;width:auto;padding-top:200px;padding-left:35%;padding-right:35%">
            <p style="font-family:'Arial';color:white;background:black;font-size:45px;text-align:center">Indigenous Plants</p>
        </div>
        <div class="col-12 col-md-12" style="position:absolute;text-align:center;height:auto;width:auto;padding-top:255px;padding-left:50%;padding-right:33%;">
            <p style="font-family:'Arial';color:black;background:#F5F5F5;font-size:25px;text-align:center">in Yarra City</p>
        </div>
    </div>

    <!--Plant information and picture-->>
    <p style="color:black;font-family:'Arial';font-size:16PX;padding-left:10%">< @Html.ActionLink("Back to List", "Index")</p>
    <div class="col-sm-6 col-sm-offset-3">
        <img class="col-xs-12 col-lg-8 col-lg-offset-2" style="box-shadow:0px 0px 8px 5px #1E2621;padding:0px;margin-bottom:20px" src="@Url.Content("~/Picture/PlantSet/"+Model.PlantPhotoPath)">
        <!--Add plant button-->>
        <div style="text-align: center; font-family: 'Arial';position:relative;margin:20px;">
            <button type="button" style="background: #344239; color:white; text-align: center;border-radius:15px;box-shadow:2px 2px 6px 2px #1E2621;border:0px">@Html.ActionLink("Add to my gargen", "../Dashboard/Create", new { id = Model.Id }) </button>
        </div>
        <hr />
        <dl class="col-xs-12 col-lg-12 col-lg-offset-2 dl-horizontal white-word">
            <dt>
                <P>Common Name</P>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.PlantCommonName)</p>
            </dd>

            <dt>
                <P>Scientific Name</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantSciName)</P>
            </dd>

            <dt>
                <P>Type</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantType)</P>
            </dd>

            <dt>
                <P>Description</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantDesc)</P>
            </dd>

            <dt>
                <P>Plant Season</P>
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSpring == "1")
                    {<text>Spring</text>}
                    @if (Model.PlantSummer == "1")
                    {<text>Summer</text>}
                    @if (Model.PlantAutumn == "1")
                    {<text>Autumn</text>}
                    @if (Model.PlantWinter == "1")
                    {<text>Winter</text>}
                </P>
            </dd>

            <dt>
                <P>Flower Color</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantFlowerColors)</P>
            </dd>

            <dt>
                <P>Sun need</P>
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSunNeedPath == "1")
                    {<text>Full sun</text>}
                    @if (Model.PlantSunNeedPath == "2")
                    {<text>Full shade</text>}
                    @if (Model.PlantSunNeedPath == "3")
                    {<text>Half sun</text>}
                </P>
            </dd>

            <dt>
                <P>Water Frequency</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantWaterFrq)</P>
            </dd>

            <dt>
                <P>Purning Frequency</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantPruningFrq)</P>
            </dd>

            <dt>
                <P>Fertilizer Frequency</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantFertilizerFrq)</P>
            </dd>

            <dt>
                <P>Mist Frequency</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantMistFrq)</P>
            </dd>

            <dt>
                <P>Soil Type</P>
            </dt>

            <dd>
                <P>
                    @if (Model.PlantSoilSand == "1")
                    {<text>Sand</text>}
                    @if (Model.PlantSoilClay == "1")
                    {<text>Clay</text>}
                    @if (Model.PlantSoilLoom == "1")
                    {<text>Loom</text>}
                </P>
            </dd>

            <dt>
                <P>Provide Habit</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantHabitat)</P>
            </dd>

            <dt>
                <P>Drought Telorant</P>
            </dt>

            <dd>
                <P>
                    @if (Model.PlantDroughtTol == "1")
                    {<text>Yes</text>}
                else
                {<text>No</text>}
                </P>
            </dd>

            <dt>
                <P>Companion Plant</P>
            </dt>

            <dd>
                <P>@Html.DisplayFor(model => model.PlantCompanion)</P>
            </dd>

            <dt>
                <P>Attract Animal</P>
            </dt>

            <dd>
                <P>
                    @Html.DisplayFor(model => model.PlantBird)
                    @Html.DisplayFor(model => model.PlantButterfly)
                    @Html.DisplayFor(model => model.PlantBees)
                    @Html.DisplayFor(model => model.PlantInsects)
                    @Html.DisplayFor(model => model.PlantLarve)
                </P>
            </dd>
        </dl>
    </div>
</div>
