@model PlottedAssist.Models.PlantSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="col-xs-12" style="text-align:center;">Weed detail information</h2>
            <img class="col-xs-12 col-lg-8 col-lg-offset-2" src="@Url.Content("~/Picture/PlantSet/"+Model.PlantPhotoPath)">
            <hr />
            <dl class="col-xs-12 col-lg-8 col-lg-offset-2 dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PlantCommonName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantCommonName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantSciName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantSciName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantDesc)
                </dd>

                <dt>
                    plant season
                </dt>

                <dd>
                    @if (Model.PlantSpring == "1")
                    {<text>Spring</text>}
                    @if (Model.PlantSummer == "1")
                    {<text>Summer</text>}
                    @if (Model.PlantAutumn == "1")
                    {<text>Autumn</text>}
                    @if (Model.PlantWinter == "1")
                    {<text>Winter</text>}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantFlowerColors)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantFlowerColors)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantSunNeedPath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantSunNeedPath)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantWaterFrq)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantWaterFrq)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantPruningFrq)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantPruningFrq)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantFertilizerFrq)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantFertilizerFrq)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantMistFrq)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantMistFrq)
                </dd>

                <dt>
                   Soil type
                </dt>

                <dd>
                    @if (Model.PlantSoilSand == "1")
                    {<text>Sand</text>}
                    @if (Model.PlantSoilClay == "1")
                    {<text>Clay</text>}
                    @if (Model.PlantSoilLoom == "1")
                    {<text>Loom</text>}                   
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantHabitat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantHabitat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantDroughtTol)
                </dt>

                <dd>
                    @if (Model.PlantDroughtTol == "1")
                    {<text>Yes</text>}
                    else
                    {<text>No</text>}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlantCompanion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantCompanion)
                </dd>

                <dt>
                    Attract animal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlantBird)
                    @Html.DisplayFor(model => model.PlantButterfly)
                    @Html.DisplayFor(model => model.PlantBees)
                    @Html.DisplayFor(model => model.PlantInsects)
                    @Html.DisplayFor(model => model.PlantLarve)
                </dd>
            </dl>
        </div>
            <p class="col-xs-12 col-lg-8 col-lg-offset-4">
                @Html.ActionLink("Add to my gargen", "../Dashboard/Create", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
    </div>
    