@model IEnumerable<PlottedAssist.Models.PlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("GetPlantData", ajaxOpts))
{
<div>
    <h4>Plant type</h4>
    @Ajax.ActionLink("Trees", "GetPlantData", new { selected = "Trees" },
                 new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Grass", "GetPlantData", new { selected = "Small Plants" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Shrubs", "GetPlantData", new { selected = "Shrubs" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Creepers", "GetPlantData", new { selected = "Creepers" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("All Plant", "GetPlantData", new { selected = "All Plant" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    <br>
    <h4>Plant season</h4>
    @Ajax.ActionLink("Spring", "GetPlantData", new { selected = "Spring" },
         new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Summer", "GetPlantData", new { selected = "Summer" },
         new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Autumn", "GetPlantData", new { selected = "Autumn" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("Winter", "GetPlantData", new { selected = "Winter" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
    @Ajax.ActionLink("All Year", "GetPlantData", new { selected = "All Year" },
             new AjaxOptions { UpdateTargetId = "tableBody" });
</div>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlantCommonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantSciName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantPhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantSpring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantSummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantAutumn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantWinter)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantCommonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantSciName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantPhotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantSpring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantSummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantAutumn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantWinter)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
