@model IEnumerable<PlottedAssist.Models.PlantSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBody"
    };
}



<div class="row" style="background-color:#4F6657">
    <!--Header-->

    <div class="col-12 col-md-12" style="padding:0;background-image:url(../../Picture/header_picture3.jpg);width:100%;margin:0;padding-bottom:10%;background-repeat:no-repeat;background-size:100%">
        <div>
            <img src="~/Picture/Banner/IndTitleWeb.png" style="width:35%;margin-top:15%;margin-left:33%">
        </div>
    </div>

    <!--Question part-->
    <form role="form" action="/PlantSets/TestResult" method="post" class="col-sm-6 col-sm-offset-3 white-word" style="        font-family: 'Arial';
        background: #344239;
        margin-top: 5%;
        margin-bottom: 5%">
        <div class="white-word" style="background:#344239;text-align:center;margin-top:10%;">
            <H3>Let us help you decide which plant to plant!</H3>           
            <h1 style="font-size:16px;"><a href="@Url.Content("~/PlantSets/PlantList/")" style="color:#FDB298;text-decoration:underline">No thanks.Give me the list of all plants</a></h1>
        </div>
        <br>
        <br>
        <div class="col-sm-12 white-word form-group">
            <h1 style="font-size:16px;">1. What type of plants would you like to plant? <a href="@Url.Content("~/PlantSets/Instrction/")">Learn more...</a></h1>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="Tree" value="Trees" checked="checked">Trees
                </label>
                <label>
                    <input type="checkbox" name="Shrub" value="Shrubs" checked="checked">Shrubs
                </label>
                <label>
                    <input type="checkbox" name="Crepper" value="Creepers" checked="checked">Creepers
                </label>
                <label>
                    <input type="checkbox" name="Grass" value="Small Plants" checked="checked">Grass
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="margin-top:20px">
            <p style="font-size:16px;">2. How often would you like to water your plants? <a href="@Url.Content("~/SoilType/WateringGuide/")">Learn more...</a></p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantWaterFrq" value="2">Often (2 -3 days)
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="4">Sometimes (3-4 days)
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="6">I don't have much time (once a week)
                </label><br>
                <label>
                    <input type="radio" name="PlantWaterFrq" value="All">I don’t have a preference
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="margin-top:20px">
            <p style="font-size:16px;">3. What planting season would you prefer?</p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantSeason" value="Spring">Spring (September to November)
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Summer">Summer (December to February)
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Autumn">Autumn (March to May)
                </label><br>
                <label>
                    <input type="radio" name="PlantSeason" value="Winter">Winter (June to August)
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="margin-top:20px">
            <p style="font-size:16px;">4. How much sunshine is available in your garden? <a href="@Url.Content("~/SoilType/Sunshine/")">Learn more...</a></p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="1">All-day Sunny
                </label><br>
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="3">Partly Sunny and Partly Shade
                </label><br>
                <label>
                    <input type="radio" name="PlantSunNeedPath" value="2">All-day Shade
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="margin-top:20px">
            <p style="font-size:16px">5. Do you prefer drought tolerant plants? <a href="@Url.Content("~/SoilType/Benefits/")">Learn more...</a></p></p>
            <div class="radio">
                <label>
                    <input type="radio" name="PlantDroughtTol" value="1">Yes
                </label><br>
                <label>
                    <input type="radio" name="PlantDroughtTol" value="0">No
                </label><br>
                <label>
                    <input type="radio" name="PlantDroughtTol" value="All">I don't have a preference
                </label>
            </div>
        </div>

        <div class="col-sm-12 white-word form-group" style="margin-top:5%;margin-bottom:5%;text-align:center">
            <button type="submit" style="color:white; text-align: center;box-shadow:2px 2px 6px 2px #1E2621;background-color:transparent;">Submit</button>
        </div>
    </form>
</div>

